* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  line-height: 1;
  background: url(images/bg-pattern-top-desktop.svg) no-repeat no-repeat left
      top,
    url(images/bg-pattern-bottom-desktop.svg) no-repeat no-repeat bottom right;
  margin-top: 10rem;
}

main {
  max-width: 145rem;
  margin: 0 auto 3.2rem auto;
}

h1 {
  font-size: 6.5rem;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  margin-bottom: 2.4rem;
}

p {
  font-size: 2.2rem;
  color: hsl(303, 10%, 53%);
  font-weight: 500;
  line-height: 1.3;
}

.section-hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}

.header-text-box {
  width: 55rem;
}

.rated-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

.rated-box {
  display: flex;
  align-items: center;
  width: 55rem;
  gap: 2.8rem;
  background-color: hsl(300, 24%, 96%);
  border-radius: 1rem;
  padding: 2rem;
}

.rated-img-box {
  display: flex;
  gap: 1rem;
}

.rated-p {
  font-size: 2.2rem;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

.box-margin {
  margin-left: 3.6rem;
}

.bigger-box-margin {
  margin-left: 8rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 4.8rem;
}

.testimonial {
  background-color: hsl(300, 43%, 22%);
  border-radius: 1rem;
  max-width: 45rem;
  padding: 4.8rem;
}

.testimonial-img-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.4rem;
}

.testimonial-img {
  border-radius: 50%;
  width: 6.4rem;
  height: 6.4rem;
}

.testimonial-user,
.testimonial-description {
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
}

.testimonial-description {
  font-weight: 400;
  font-size: 2rem;
}

.testimonial-user-type {
  color: hsl(333, 80%, 67%);
}

.testimonial-margin {
  margin-top: 3.2rem;
}

.testimonial-margin-bigger {
  margin-top: 6.4rem;
}

@media (max-width: 91.875em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 83em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 73.75em) {
  body {
    background: url(images/bg-pattern-top-mobile.svg) no-repeat no-repeat left
        top,
      url(images/bg-pattern-bottom-mobile.svg) no-repeat no-repeat bottom right;
  }

  main {
    padding: 0 2.4rem;
  }

  h1 {
    font-size: 5.3rem;
  }

  .section-hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .box-margin {
    margin-left: 0;
  }

  .bigger-box-margin {
    margin-left: 0;
  }

  .header-text-box {
    margin-bottom: 6.4rem;
    width: 45rem;
  }

  .header-text-box p {
    font-size: 2rem;
  }

  .rated-box {
    flex-direction: column;
    gap: 1.8rem;
    width: 45rem;
  }

  .testimonials {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 2.4rem;
  }

  .testimonial-margin {
    margin-top: 0;
  }

  .testimonial-margin-bigger {
    margin-top: 0;
  }
}

@media (max-width: 25em) {
  main {
    padding: 0 1rem;
  }

  .header-text-box {
    width: 40rem;
  }

  .rated-box {
    width: 38rem;
  }

  .testimonial {
    max-width: 40rem;
    padding: 3.8rem;
  }
}
